@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/src/components/css/fonts.css";

:root {
  --foreground-rgb: 44, 44, 44; /* dark-gray */
  --background-start-rgb: 255, 255, 255; /* #FFFFFF */
  --background-end-rgb: 255, 255, 255; /* #FFFFFF */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* #FFFFFF */
    --background-start-rgb: 44, 44, 44; /* dark-gray */
    --background-end-rgb: 44, 44, 44; /* dark-gray */
  }
}

body {
  @apply transition-colors duration-300 ease-in-out;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif;
}

code,
pre {
  font-family: "Fira Code", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #000000;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #000000;
    color: #ffffff;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-bullets li {
  position: relative;
  padding-left: 1.5rem;
}

.custom-bullets li::before {
  content: ">";
  position: absolute;
  left: 0;
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.5;
}
