@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/src/components/css/fonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 41, 55;
    --background-end-rgb: 17, 24, 39;
  }
}

body {
  @apply transition-colors duration-300 ease-in-out;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif;
}

code,
pre {
  font-family: "Fira Code", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #4caf50;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #2d6a4f;
    color: #ffffff;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
